@import "../../../styles/variables.scss";

.familyLineContent {
    background-image: url("../../../assets/img/bg-familia-vitalinea.png");
    height: 31rem;
    width: 100%;
    overflow-x: scroll;
    z-index: 1;
    position: absolute;
    bottom: 0;

    .title {
        width: 100%;
        font-weight: 200;
        color: $purple;
        text-align: center;
        padding: 2rem 0;
        font-size: 1.4rem;
    }

    .sliderContent {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
        justify-content: space-between;
        overflow: auto;
        padding: 4rem 0 2rem 1.3rem;
        max-width: 35rem;
        margin: auto;


        div {
            &:nth-child(1) {
                img {
                    width: 11.5rem;
                }
            }

            &:nth-child(2) {
                img {
                    width: 7.5rem;
                    padding-bottom: .4rem;
                }
            }

            &:nth-child(3) {
                img {
                    width: 9.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {
    .familyLineContent {

        height: 45rem;

        .title {

            font-size: 2.8rem;
        }

        .sliderContent {
            max-width: 70rem;

            div {
                &:nth-child(1) {
                    img {
                        width: 22rem;
                    }
                }

                &:nth-child(2) {
                    img {
                        width: 15rem;
                        padding-bottom: .4rem;
                    }
                }

                &:nth-child(3) {
                    img {
                        width: 19rem;
                    }
                }
            }
        }
    }
}