@import "../../../styles/variables.scss";

.btn {
    background: $purple;
    color: $white;
    font-family: "open sans";
    font-size: .9rem;
    font-weight: 200;
    margin: .5rem 0;
    border: none;
    align-self: stretch;
    padding: .7rem 0;


    &:hover {
        background: $purpleHover;
        box-shadow: 0 0 2px $black;
    }
}

@media screen and (min-width: 768px) {
    .btn {
        max-width: 15rem;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {}