@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background: rgba($white, .7);
  position: fixed;
  height: 5rem;
  width: 100vw;
  top: 0;
  z-index: 1000;

  .logo {
    margin-left: 2vw;
  }
}

@media screen and (min-width: 768px) {
  .header {
    .logo {
      margin-left: 7vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 6rem;
    padding: 0 1vw;
  }
}

@media screen and (min-width: 1440px) {}